body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

.message-box {
    text-align: center;
    height: 100px;
    background-color: lightblue;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'card card card card';
    gap: 10px;
    background-color: gray;
    border-radius: 1px;
    text-align: center;
    height: 800px;
    margin: 20px;
}

img {
    align-self: center;
    max-width: 50%;
    max-height: 50%;
    justify-content: center;
}

.card {
    position: relative;
}

