@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #03fc77;
}

h1 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 64px;
}

h2 {
    text-align: center;
    font-family: 'Play', sans-serif;

}

.message-box {
    text-align: center;
    height: 100px;
    font-size: 20px;
    background-color: #03fc77;
    margin: 20px;
    font-family: 'Play', sans-serif;
    line-height: 1.5;
}

@media (max-width: 700px) {
    .message-box {
        font-size: 15px;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    'row row'
    'row2 row2';
}

.row {
    grid-area: 'row';
    justify-self: center;
}

.row2 {
    justify-self: center;
    display: grid;
    margin-bottom: 10px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 15px;
    grid-template-rows: auto;
    grid-template-areas: 
    'score score time time';
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'card card card card';
    gap: 15px;
    background-color: #03fc77;
    padding: 20px;
    border-radius: 1px;
    text-align: center;
    height: auto;
    margin: 20px;
    place-self: center;
}

img {
    display: flex;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration:  0.5s;
    object-fit: fill;
}

.card {
    position: relative;
    background-color: #00a34c;
    width: auto;
    height: auto;

}

button {
    color: black;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10%;
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

footer {
    margin-top: 500px;
    text-align: center;
}